{{#if resume.languages.length}}
<section id="languages">
	<h2 class="f3 fw5 lh-copy mt4">Languages</h2>

	<div class="flex flex-wrap">
	{{#each resume.languages}}
			<div class="w-25">
			{{#if language}}<h3 class="f4 fw4 mb0">{{language}}</h3>{{/if}}
			{{#if fluency}}<h4 class="f6 fw3 tracked ttu gray mt2">{{fluency}}</h4>{{/if}}
			</div>
		</li>
	{{/each}}
	</div>
	</ul>
</section>
{{/if}}