{{#if resume.references.length}}
<section id="references">
	<h2 class="f3 fw5 lh-copy mt4">References</h2>
	{{#each resume.references}}
	<div class="item">
		{{#if reference}}
		<blockquote class="reference f4 lh-copy gray quotes">
			{{reference}}
		</blockquote>
		{{/if}}
		{{#if name}}
		<div class="name">
			&rarr; {{name}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}