<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />

	<style>
		{
				{
					{
					css
				}
			}
		}
	</style>

</head>

<body class="sans-serif black bg-white">

	<div id="resume" class="mw8 center mb6 pa3">
		{{> basics }}
		{{> languages }}
		{{> skills }}
		{{> work }}
		{{> references }}
		{{> volunteer }}
		{{> education }}
		{{> awards }}
		{{> publications }}
		{{> interests }}
	</div>
</body>

</html>