a {
  color: #364fc7;
  text-decoration: none;
}

.quotes::after,
.quotes::before {
  font-weight: 900;
  font-family: serif;
}

.quotes::before {
  content: "“";
}

.quotes::after {
  content: "”";
}

.lt-dash::before {
  content: "- ";
}

@media print {
  ul,
  .item,
  section {
    page-break-inside: avoid;
  }
}
